.scroll-bar-wrapper {
    width: 100%;
    height: 10px;
    position: fixed;
    top: 0;
    left: 0;
    background: #CCCCCC;
}

.scroll-bar {
    width: 0;
    height: inherit;
    background: #8D7ECA;
}

* {
    margin: 0;
    padding: 0;
}

#index {
    font-family: sans-serif;
}

#whoweare::after {
    height: 400px;
    content: "";
    background-repeat: no-repeat;
    background-image: url("images/world.jpeg");
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    background-image: linear-gradient(to right, #3AAFA9, #3AAFA9);
    padding: 0 !important;
    border-radius: 5px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.fa-bars {
    color: #fff;
    font-size: 30px !important;
}

.navbar-toggler {
    outline: none !important;
}

#banner {
    background-image: linear-gradient(to right, #3AAFA9, #3AAFA9);
    color: #fff;
    padding-top: 5%;
    overflow: hidden;
    position: relative;
}

#banner2 {
    background-image: linear-gradient(to right, #3AAFA9, #3AAFA9);
    color: #fff;
    padding-top: 5%;
    overflow: hidden;
    position: relative;
    height: 10px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.promo-title1 {
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    border-spacing: 20px;
}

#banner1 {
    box-shadow: inset 0 0 5px 2px #30c4a2;
    background-position: right;
    background-image: linear-gradient(to right, #3AAFA9, #3AAFA9);
    color: #fff;
    padding-top: 5%;
    width: 50%;
    padding: 70px;
    opacity: 70%;
    float: right;
    margin-right: 6px;
}

@media screen and (max-width: 768px) {
    #banner {
        width: 100%;
        padding: 0;
    }
    #banner1 {
        width: 100%;
        padding: 0;
        margin-bottom: 120px;
    }
}

@media (max-width:1024px) {
    .rate:not(:checked)>labele {
        font-size: 12px;
    }
}

.promo-title1 {
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    border-spacing: 20px;
}

.promo-title1 {
    color: #fff;
    padding-top: 5%;
    width: 50%;
    padding: 70px;
    opacity: 70%;
    float: left;
}

.promo-title2 {
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    border-spacing: 20px;
}

.promo-title2 {
    background-image: linear-gradient(to right, black, black);
    color: #fff;
    padding-top: 5%;
    width: 50%;
    padding: 70px;
    opacity: 70%;
    float: left;
}

.demo-bg {
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: -50px;
    width: 75%;
    height: auto;
}

.demo-content {
    position: relative;
}

#onHover {
    opacity: 0.7;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
}

#onHover:hover {
    opacity: 1;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
}

h1 {
    color: #fff;
}

#tagline {
    color: #fff;
    top: 10px;
}

#about {
    color: #fff;
    width: 50%;
}

.promo-title {
    color: #fff;
    max-width: 100%;
    height: 100px;
    font-size: 24px;
    font-weight: 600;
    margin-top: 100px;
    top: 40px;
    margin-bottom: -40px;
}

@media (max-width:768px) {
    img#onHover {
        display: none;
    }
    .title {
        top: -90px;
    }
}

@media (max-width:1024px) {
    img#onHover {
        top: 20px;
    }
}

.title {
    top: -90px;
}

#banner a {
    color: #fff;
    text-decoration: none;
}

.bottom-img {
    width: 100%;
}

#services-section {
    font-size: 32px;
    font-family: sans-serif;
    font-weight: bold;
}

#services {
    padding: 80px 0;
    margin-top: -100px;
}

.image-services {
    width: 25%;
}

#services1 {
    padding: 80px 0;
    margin-top: -100px;
}

#services2 {
    padding: 80px 0;
    margin-top: -100px;
}

#services3 {
    padding: 80px 0;
    margin-top: -100px;
}

.title-one {
    margin-top: 100px;
    color: black;
    margin-bottom: 35px;
    font-weight: bold;
}

#first-line {
    margin-right: 200px;
    margin-left: 200px;
}

.section-title {
    font-size: 24px;
    text-align: center;
    margin-top: 25px;
    text-transform: uppercase;
}

.section-description {
    text-align: center;
}

img {
    float: none;
    width: 200px;
    height: 100px;
    object-fit: cover;
}

.title-one::before {
    margin-bottom: 10px;
}

.title-one::before {
    content: "";
    display: block;
    width: 200px;
    height: 4px;
    background-color: #3AAFA9;
    margin-right: auto;
    margin-left: auto;
    transform: translateY(70px);
}

.title-one::after {
    content: "";
    display: block;
    width: 50px;
    height: 10px;
    background-color: #3AAFA9;
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
    transform: translateY(5px);
}

.title-two {
    margin-top: 100px;
    color: black;
}

.zoom {
    margin-top: 10px;
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.2);
}

.shape1 {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    left: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.235);
    z-index: 100;
    transition: transform .2s;
}

.shape1:hover {
    color: white;
    transform: translateY(-10px);
}

.shape2 {
    margin-top: 16px;
}

.shape3 {
    position: fixed;
    height: 60px;
    bottom: -40px;
    left: 33px;
    color: black;
    font-size: 14px;
    z-index: 100;
}

.top {
    display: block;
    position: fixed;
    width: 40px;
    height: 35px;
    bottom: 40px;
    right: 40px;
    background-color: #000000;
    color: #FFF;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    box-shadow: 1px 1px 1px rgb(31, 30, 30);
    z-index: 999;
}

.addText {
    display: block;
    /* inline-block so we can set a width */
    width: 0;
    white-space: nowrap;
    /* keep text one line */
    direction: rtl;
    /* change direction so the text overflow on the left */
    color: rgba(255, 255, 255, 0);
    transition: .5s;
    transform: translateX(40px);
    /* put the value you want here */
    pointer-events: none;
    /* to avoid the hover on the text, remove to see the difference */
    z-index: 999;
}

.link:hover .addText {
    color: black;
    transform: translateX(0);
    z-index: 999;
}

.main {
    display: block;
    position: fixed;
    bottom: 47px;
    right: 100px;
    z-index: 999;
}

.link {
    /* display: inline-block; */
    z-index: 999;
}

#signup {
    background-image: linear-gradient(#0dccea, #1a3659);
    border: 0;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    font-size: .9em;
    margin: 5px;
    padding: 5px 10px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#signup:hover {
    background-image: linear-gradient(#1a3659, #0dccea);
}

.testimonial-card .card-up {
    height: 120px;
    overflow: hidden;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.testimonial-card .avatar {
    width: 110px;
    margin-top: -60px;
    overflow: hidden;
    border: 3px solid #fff;
    border-radius: 50%;
}

.demo-content1 {
    float: right;
}


/* RATING */

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 25px;
    color: #ffc700;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #ffc700;
}

.title-1::before {
    margin-bottom: 10px;
}

.title-1::before {
    content: "";
    display: block;
    width: 200px;
    height: 4px;
    background-color: #3AAFA9;
    margin-right: auto;
    margin-left: auto;
    transform: translateY(615px);
}

.title-1::after {
    content: "";
    display: block;
    width: 50px;
    height: 10px;
    background-color: #3AAFA9;
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
    transform: translateY(5px);
}

.title-1 {
    color: black;
}

@media screen and (max-width: 600px) {
    .title-1::before {
        display: none;
    }
    .title-one::before {
        display: none;
    }
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        /* vertical-align: top; */
    }
    .navbar .navbar-collapse {
        text-align: center;
    }
}

@media screen and (min-width: 600px) {
    .title-1::before {
        display: none;
    }
    .title-one::before {
        display: none;
    }
    .rate {
        display: none;
    }
}

.mapouter {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}

.gmap_canvas>* {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 80%;
    width: 100%;
}

#custom {
    color: #FFF;
}

#icons {
    right: 300px;
    bottom: 30px;
    margin-top: -20px;
    background-image: linear-gradient(to right, #3AAFA9, #3AAFA9);
}

#faIcons:link {
    text-decoration: black !important;
    color: #000000 !important;
}

#faIcons:visited {
    text-decoration: none !important;
    color: #000000 !important;
}

#faIcons:hover {
    color: #3AAFA9 !important;
}

#faIcons:active {
    text-decoration: none !important;
}

#faIcons1:link {
    text-decoration: black !important;
    color: #000000 !important;
}

#faIcons1:visited {
    text-decoration: none !important;
    color: #000000 !important;
}

#faIcons1:hover {
    color: #3AAFA9 !important;
}

#faIcons1:active {
    text-decoration: none !important;
}

#faIcons2:link {
    text-decoration: black !important;
    color: #000000 !important;
}

#faIcons2:visited {
    text-decoration: none !important;
    color: #000000 !important;
}

#faIcons2:hover {
    color: #3AAFA9 !important;
}

#faIcons2:active {
    text-decoration: none !important;
}

#banner3 {
    background-image: linear-gradient(to right, #3AAFA9, #3AAFA9);
    color: #fff;
    padding-top: 5%;
    overflow: hidden;
    position: relative;
}

#about1 {
    position: relative;
    bottom: -100px;
    color: rgb(6, 15, 38);
    font-size: 60px;
    float: left;
}


/* WHO WE ARE SECTION */

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: black;
}

#background {
    background-image: url("images/—Pngtree—icon\ icons\ set\ symbol\ background_723660.jpg");
    opacity: 1.2;
}

#ourTeam {
    text-align: center;
}

body {
    padding: 15px;
}

#aboutus {
    color: rgb(0, 0, 0) !important;
    font-weight: bolder;
}

#aboutus1 {
    color: rgb(0, 0, 0) !important;
    font-weight: bolder;
}

#aboutus2 {
    color: rgb(0, 0, 0) !important;
    font-weight: bolder;
}

#copyright {
    color: black !important;
    font-style: italic;
    text-align: center;
}


/* SIGN UP */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
    outline: none;
}

#login-box {
    position: relative;
    margin: 5% auto;
    width: 600px;
    height: 400px;
    background: #FFF;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.left {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
}

h1 {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28px;
    color: black;
}

input[type="text"],
input[type="password"] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    border-bottom: 1px solid #AAA;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-bottom: 2px solid #16a085;
    color: #16a085;
    transition: 0.2s ease;
}

input[type="submit"] {
    margin-top: 28px;
    width: 120px;
    height: 32px;
    background: #16a085;
    border: none;
    border-radius: 2px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.1s ease;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}

input[type="submit"]:active {
    opacity: 1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.1s ease;
}

.or {
    position: absolute;
    top: 180px;
    left: 280px;
    width: 40px;
    height: 40px;
    background: #DDD;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    line-height: 40px;
    text-align: center;
}

.right {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
    /* background: url('https://goo.gl/YbktSj'); */
    background-size: cover;
    background-position: center;
    border-radius: 0 2px 2px 0;
}

.right .loginwith {
    display: block;
    margin-bottom: 40px;
    font-size: 28px;
    color: rgb(0, 0, 0);
    text-align: center;
}

button.social-signin {
    margin-bottom: 20px;
    width: 220px;
    height: 36px;
    border: none;
    border-radius: 2px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
}

button.social-signin:hover,
button.social-signin:focus {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
}

button.social-signin:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    transition: 0.2s ease;
}

button.social-signin.facebook {
    background: #32508E;
}

button.social-signin.twitter {
    background: #55ACEE;
}

button.social-signin.google {
    background: #DD4B39;
}

#butOn {
    transition: all .5s ease;
    color: black;
    text-align: center;
    line-height: 1;
    font-size: 18px;
    background-color: transparent;
    padding: 10px;
    outline: none;
    border-radius: 4px;
}

#butOn:hover {
    color: #001F3F;
    background-color: cadetblue;
}

#butOn1 {
    transition: all .5s ease;
    color: black;
    text-align: center;
    line-height: 1;
    font-size: 18px;
    background-color: transparent;
    padding: 10px;
    outline: none;
    border-radius: 4px;
}

#butOn1:hover {
    color: #001F3F;
    background-color: cadetblue;
}

#butOn2 {
    transition: all .5s ease;
    color: black;
    text-align: center;
    line-height: 1;
    font-size: 18px;
    background-color: transparent;
    padding: 10px;
    outline: none;
    border-radius: 4px;
}

#butOn2:hover {
    color: #001F3F;
    background-color: cadetblue;
}

#logo {
    width: 50px;
    height: 50px;
    margin-left: -50px;
    margin-right: 5px;
}

@media screen and (max-width: 600px) {
    #logo {
        display: none;
    }
}

#brandName {
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 15px;
}

@media (max-width: 540px) {
    #login-box {
        width: 500px;
        height: 400px;
    }
    .or {
        display: none;
    }
    button.social-signin {
        width: 190px;
        margin-left: 40px;
    }
    .right .loginwith {
        margin-left: 40px;
    }
    .modal-body {
        right: 15px;
    }
    #brandName {
        margin-left: 80px;
    }
}


/************** REACH US **************/

.contact-form {
    background: rgb(250, 250, 250);
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}

.contact-form .form-control {
    border-radius: 1rem;
}

.contact-image {
    text-align: center;
}

.contact-image img {
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}

.contact-form form {
    padding: 14%;
}

.contact-form form .row {
    margin-bottom: -7%;
}

.contact-form h3 {
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
    font-size: 30px;
}

.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.btnContactSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}


/****** PAGES TRANSITION ******/

.animate-in {
    -webkit-animation: fadeIn .4s ease-in;
    animation: fadeIn .4s ease-in;
}

.animate-out {
    -webkit-transition: opacity .4s;
    transition: opacity .4s;
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}